!!! Strict
%html{:lang => "en", "xml:lang" => "en", :xmlns => "http://www.w3.org/1999/xhtml"}
	= erb(:'/site/_partials/guides/head', :layout => false)
	%body
		.non-footer
			= erb(:'/site/_partials/_header', :layout => false)
			.wrapper
				.top
					.guides-sprite.name
					%ul.drop-down
						%li
							%span.guides-sprite.left-corner
							%a{:href => "/guides"}
								Get Started
								.guides-sprite.arrows
							%ul
								%li
									%a{:href => "/guides/boxfile"}
										Boxfiles
								%li
									%a{:href => "/guides/symfony"}
										Symfony
							%span.guides-sprite.right-corner
				.main-col
					.left-col
						= yield_content :doc
					.right-col
						.vertical-guides-sprite.table-contents
							%span.guides-sprite.top-corner
							%h3.guides-sprite Table Of Contents
							= yield_content :table_of_contents
							%span.guides-sprite.bottom-corner
		= erb(:'/site/_partials/_footer', :layout => false)
		/ = erb(:'/site/_partials/guides/javascripts', :layout => false)
